.backgrounds {
  background-image: linear-gradient(rgb(255, 255, 255), #0000), 
  url("../../assets/images/photos/eyes3.jpg");
    

  
  background-size: cover; /* You can also use 'contain' depending on your needs */
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  
}



.background-sideheader {
  background-image: linear-gradient(rgba(123, 132, 142, 0.7), #0000),
  url("../../assets/images/photos/eye2.jpg");
    
    

  
  background-size: cover; /* You can also use 'contain' depending on your needs */
  background-position: center;
  background-repeat: no-repeat;
   /* height: 69px; */
  
}




