.background {
    background-image: 
    url("../../../assets/images/photos/eye1.jpg");

  
  background-size: cover; /* You can also use 'contain' depending on your needs */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  
}
